/* Global styles*/
body
{
  background: url(/assets/img/sahaniHD.jpg);
  background-size: cover;
  background-position: center;
}
h1 {
  color: rgb(240,100,7);
  font-family: Roboto;
  font-size: 250%;
}
h2, h3 {
  color: rgb(250, 100, 90);
  font-family: Roboto;
  font-weight: light;
}
body {
  margin: 2em;
}
body, input[type="text"], button {
  color: rgb(238, 64, 20);
  font-family: Cambria, Georgia;
}
/* everywhere else */
* {
  font-family: Roboto;
}
