/* Global styles*/
body
{
  background: url(/assets/img/sahaniHD.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
h1 {
  color: rgb(126, 28, 255);
  font-family: Roboto;
  font-size: 250%;
}
h2, h3 {
  color:rgb(126, 28, 255);
  font-family: Roboto;
  font-weight: light;
}
body {
  margin: 2em;
}
body, input[type="text"], button {
  color: rgb(126, 28, 255);
  font-family: Cambria, Georgia;
}
/* everywhere else */
* {
  font-family: Roboto;
}
