<section id="brandheads">
    <div class="container">
        <h1>Brand Heads</h1>
    </div>
    <div class="row">
        <div class="col-md-6 profile-pic text-center">
            <div class="img-box">
                <img src="/assets/img/2.jpg" class="img-responsive">
            </div>
            <h2>Capitan Cofrel</h2>
            <h3>Founder</h3>
            <p>World reknown chief barista Capitan sits at the helm of the establishment </p>
        </div>
        <div class="col-md-6 profile-pic text-center">
            <div class="img-box">
                <img src="/assets/img/3.jpg" class="img-responsive">
            </div>
            <h2>Zhufla Xian</h2>
            <h3>Head of display</h3>
            <p>Prodicnbcduct </p>
        </div>
    </div>
</section>