<section id="brandheads">
    <div class="container">
        <h1>Brand Heads</h1>
    </div>
    <div class="row">
        <div class="col-md-6 profile-pic text-center">
            <div class="img-box">
                <img src="/assets/img/2.jpg" class="img-responsive">
            </div>
            <h2>Co-Founder Wa Kwanza</h2>
            <h3>Founder</h3>
            <p>Developer of the ingeniuos Idea </p>
        </div>
        <div class="col-md-6 profile-pic text-center">
            <div class="img-box">
                <img src="/assets/img/4.jpg" class="img-responsive">
            </div>
            <h2>Captain Cook</h2>
            <h3>Head of Ndelivery</h3>
            <p>Pronduct dispatch expertriate</p>
        </div>
    </div>
</section>