<div class="child-page-listing">

    <h2>Excuisite Curlinary At The Touch Of A Button</h2>

    <div class="grid-container">

        <article id="3700" class="food-listing">

            <a class="food-title" href="#">
              Single Meal Order                       </a>

            <div class="food-image">
                <a href="#">
                    <img width="300" height="169" src="/assets/img/5.jpg" alt="single meal order">
                </a>
            </div>

        </article>
        <article id="3685" class="food-listing">

            <a class="food-title" href="basic">
                  Basic                       </a>

            <div class="food-image">
                <a href="basic">
                    <img width="300" height="169" src="/assets/img/6.jpg" alt="basic"> </a>

            </div>

        </article>

        <article id="3688" class="food-listing">

            <a class="food-title" href="standard">
                  Standard                      </a>

            <div class="food-image">
                <a href="standard">
                    <img width="300" height="169" src="/assets/img/8.jpg" alt="standard"> </a>

            </div>

        </article>

        <article id="3697" class="food-listing">

            <a class="food-title" href="premium">
                  Premium                     </a>

            <div class="food-image">
                <a href="premium">
                    <img width="300" height="169" src="/assets/img/9.jpg" alt="premium"> </a>

            </div>

        </article>


    </div>
    <!-- end grid container -->

</div>
