<section class="Offer">
    <div class="row">
        <div class="col-md-6 text-center">
            <img src="/assets/img/10.jpg">
        </div>
        <div class="col-md-6">
            <div class="subscribe">
                <h4>EACH MEAL AN EXPERIENCE</h4>
                <p>Each meal is carefully prepared at a dark kitchen in hygienic conditions using the best of ingredients. Using the freshest and best quality products assures you of each meal of your weekday being a proper experience tou rejuvinate you
                    for the rest of your day. Sourcing our ingredients locally ensures an authentic curlinary treat that should is parked with nutritional value while not cutting down on exciting your taste buds. Grab a subcription and customize it to
                    your specific taste.
                </p>
                <a href="catalog">Make A Subscription</a>
            </div>
        </div>
    </div>
</section>
